/* Table Layouts */
.table-display { width:100%; min-width:300px; overflow:auto; background-color: white; margin-top: 16px; }

table, .table 	{
				display: table;
				border-collapse:collapse;
				border-color:#333;
				color:#333;
				font-family: sans-serif;
				font-size:14px;
				min-width: 100%;
				background-color: white;
			}
thead, .th	{
				font-weight: bold;
			}
tr, .tr 	{
				display: table-row;
				border-left:1px solid #333;
				border-top:1px solid #333;
			}
td, .td		{
				font-size: 12px;
				display: table-cell;
				border-bottom:1px solid #333;
				border-right:1px solid #333;
				padding: 10px;
				text-align:center;
				white-space: pre-wrap; /* css-3 */
				white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
				white-space: -pre-wrap; /* Opera 4-6 */
				white-space: -o-pre-wrap; /* Opera 7 */
				word-wrap: break-word; /* Internet Explorer 5.5+ */
}
